.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    background-color: #fff;
}

@media (max-width: 600px) {
    .home-page {
        padding: 1rem;
    }

    .main-content {
        margin-top: 1rem;
    }
}